<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduWear</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/catalog.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cart.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
	
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul class="nav-left">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('catalog') }}">Catalog</a></li>
                <li><a href="{{ url_for('size_guide') }}">Size Guide</a></li>
                <li><a href="{{ url_for('order') }}">Order</a></li>
                <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
                <li><a href="{{ url_for('color_verification') }}">Color Verification</a></li>
                </ul>
		<ul class="nav-right">
                {% if session.get('user') %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
                <li class="cart-link">
                    <a href="{{ url_for('cart') }}">
                        <i class="fas fa-shopping-cart"></i>
			<span class="cart-count">{{ cart_count }}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 EduWear</p>
    </footer>
</body>
</html>

