<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	</head>
<div class="holder">
    <div class="login-container">
        <div class="login-box">
            <div class="logo">
                <img src="logo.png" alt="Logo">
            </div>
            <h2>LOG IN</h2>
            <form action="/login" method="post">
                <div class="input-group">
                    <label for="username"><i class="fas fa-user"></i> Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password"><i class="fas fa-lock"></i> Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="remember-me">
                    <input type="checkbox" id="remember-me" name="remember-me">
                    <label for="remember-me"> Remember me</label>
                </div>
                <button type="submit">Login</button>
                <a href="#" class="forgot-password">Forgot Password?</a>
            </form>
        </div>
    </div>
</div>
